@charset "UTF-8";
@font-face {
  font-family: "HelveticaBold";
  src: url("/assets/fonts/HelveticaBold/HelveticaBold.woff") format("woff");
}
@font-face {
  font-family: "HelveticaMedium";
  src: url("/assets/fonts/HelveticaMedium/HelveticaMedium.woff") format("woff");
}
@font-face {
  font-family: "HelveticaRegular";
  src: url("/assets/fonts/HelveticaRegular/HelveticaRegular.woff") format("woff");
}
*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #ffffff;
  background-color: #232323;
}

main {
  border-top: 1.5px solid #ffffff;
  border-bottom: 1.5px solid #ffffff;
}

.error {
  margin: 4%;
}
.error-img {
  width: 100%;
}

.none {
  display: none;
}

.home {
  display: flex;
  flex-direction: column;
  margin: 4%;
}
.home .box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  color: #000000;
  font-family: "Montserrat";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  transition: transform 0.25s;
  cursor: pointer;
  text-decoration: none;
}
.home .box:hover {
  transform: scale(1.1);
  border: 6px solid #fea501;
}
.home__row1 {
  display: grid;
  gap: 45px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "item1 item2 item4 item4 item5 item6 item6" "item3 item3 item4 item4 item7 item8 item8";
}
.home__row1-item1 {
  grid-area: item1;
  background-color: #f6e6cf;
  height: 150px;
}
.home__row1-item2 {
  grid-area: item2;
  background-color: #f6e6cf;
}
.home__row1-item3 {
  grid-area: item3;
  background-color: #ffffff;
}
.home__row1-item4 {
  grid-area: item4;
  background-color: #fea501;
}
.home__row1-item5 {
  grid-area: item5;
  background-color: #ffffff;
}
.home__row1-item6 {
  grid-area: item6;
  background-color: #aa8946;
}
.home__row1-item7 {
  grid-area: item7;
  background-color: #ffffff;
}
.home__row1-item8 {
  grid-area: item8;
  background-color: #aa8946;
}
.home__row2 {
  display: grid;
  gap: 45px;
  margin: 45px 0;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "item1 item2 item4 item5 item7 item8 item8" "item3 item3 item4 item5 item9 item10 item11" "item3 item3 item6 item6 item12 item13 item14";
}
.home__row2 div:hover {
  transform: scale(1.1);
  border: 6px solid #fea501;
}
.home__row2-item1 {
  grid-area: item1;
  background-color: #f88b50;
  height: 150px;
}
.home__row2-item2 {
  grid-area: item2;
  background-color: #f88b50;
}
.home__row2-item3 {
  grid-area: item3;
  background-color: #a3755b;
}
.home__row2-item4 {
  grid-area: item4;
  background-color: #b6400e;
}
.home__row2-item5 {
  grid-area: item5;
  background-color: #b6400e;
}
.home__row2-item6 {
  grid-area: item6;
  background-color: #ffffff;
}
.home__row2-item7 {
  grid-area: item7;
  background-color: #f6e6cf;
}
.home__row2-item8 {
  grid-area: item8;
  background-color: #ffffff;
}
.home__row2-item9 {
  grid-area: item9;
  background-color: #f6e6cf;
}
.home__row2-item10 {
  grid-area: item10;
  background-color: #552706;
}
.home__row2-item11 {
  grid-area: item11;
  background-color: #552706;
}
.home__row2-item12 {
  grid-area: item12;
  background-color: #f6e6cf;
}
.home__row2-item13 {
  grid-area: item13;
  background-color: #552706;
}
.home__row2-item14 {
  grid-area: item14;
  background-color: #552706;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  animation: rotator 1.4s linear infinite;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@keyframes colors {
  0% {
    stroke: #fea501;
  }
  25% {
    stroke: #f88b50;
  }
  50% {
    stroke: #b6400e;
  }
  75% {
    stroke: #aa8946;
  }
  100% {
    stroke: #552706;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}
.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 80%;
}

label {
  perspective: 1000px;
  transform-style: preserve-3d;
  margin: 20px;
  width: 345px;
  height: 200px;
  cursor: pointer;
}

.card {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transition: all 600ms;
  z-index: 20;
  background-color: #fea501;
  color: #000000;
}
.card-titly {
  font-family: "Montserrat";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
.card-text {
  margin-top: 15px;
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.card div {
  padding: 15px;
  backface-visibility: hidden;
}

.front {
  background-color: #f88b50;
  border-radius: 10px;
  border: 1px solid #b6400e;
  margin-top: 10px;
}

.back {
  width: 100%;
  height: 100%;
  background: #f6e6cf;
  transform: rotateX(180deg);
}

label:hover .card {
  transform: rotateX(20deg);
  box-shadow: 0 20px 20px rgba(255, 255, 255, 0.2);
}

input[type=checkbox] {
  display: none;
}

:checked + .card {
  transform: rotateX(180deg);
}

label:hover :checked + .card {
  transform: rotateX(160deg);
  box-shadow: 0 20px 20px rgba(255, 255, 255, 0.2);
}

.delCard {
  position: absolute;
  top: 15px;
  right: 20px;
  width: 24px;
  height: 24px;
  opacity: 0.2;
  cursor: pointer;
  transition: opacity ease 0.5s;
}
.delCard:hover {
  opacity: 1;
}

.delCard::before,
.delCard::after {
  content: "";
  position: absolute;
  top: 10px;
  display: block;
  width: 24px;
  height: 3px;
  background: #000;
}

.delCard::before {
  transform: rotate(45deg);
}

.delCard::after {
  transform: rotate(-45deg);
}

.demo {
  display: none;
  flex-direction: column;
  border: 5px solid red;
  background-color: green;
}

.none {
  display: none;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 0 2%;
  z-index: 10;
  width: 500px;
  min-width: 400px;
  height: 340px;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  border-radius: 20px;
  border: 6px solid #fea501;
  box-shadow: 0px 0px 52px 25px #232323;
  display: none;
}
.modal-window__main {
  display: block;
}
.modal-window__title {
  font-family: "Montserrat";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  color: #000000;
  margin-top: 25px;
  margin-bottom: 28px;
}
.modal-window__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.modal-window__container-heading, .modal-window__container-text {
  display: flex;
  width: 100%;
  padding: 20px;
  margin-bottom: 18px;
  border-radius: 10px;
  border: 2px solid #000000;
}
.modal-window__container-text {
  resize: none;
}
.modal-window__container-btn {
  width: 190px;
  height: 40px;
  margin-bottom: 28px;
  border-radius: 10px;
  border: 2px solid #000000;
  background: #ffffff;
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
  opacity: 0.2;
  cursor: pointer;
  transition: opacity ease 0.5s;
}
.modal__close:hover {
  opacity: 1;
}
.modal__close::before, .modal__close::after {
  content: "";
  position: absolute;
  top: 10px;
  display: block;
  width: 24px;
  height: 3px;
  background: #000;
}
.modal__close::before {
  transform: rotate(45deg);
}
.modal__close::after {
  transform: rotate(-45deg);
}

.btn-up {
  position: fixed;
  background-color: #f88b50;
  left: 20px;
  bottom: 30px;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.15s ease-in-out, transform 0.3s ease-in-out;
  color: #ffffff;
  width: 50px;
  height: 50px;
  opacity: 1;
  transform: translateY(0);
}

.btn-up_hide {
  display: none;
}

.btn-up_hiding {
  opacity: 0;
  transform: translateY(100px);
}

.btn-up-icon {
  width: 40px;
  height: 40px;
  fill: currentcolor;
}

@media (hover: hover) and (pointer: fine) {
  .btn-up:hover {
    background-color: #f88b50;
  }
}
.header {
  width: 100%;
  display: flex;
  margin: 1rem auto;
}
.header .header-stroke {
  width: 100%;
  display: flex;
  margin: 1.88rem auto;
}
.header .header-stroke .header__logo {
  width: 2rem;
  display: flex;
  background-color: #ffffff;
  border: none;
  border-radius: 0.94rem;
}
.header .header-stroke .header__logo img {
  width: 100%;
  padding: 0.44rem;
}
.header .header-stroke .header__info {
  width: 29rem;
  display: flex;
  flex-direction: column;
  margin-left: 1.88rem;
  row-gap: 1.62rem;
}
.header .header-stroke .header__info h3 {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25rem;
}
.header .header-stroke .header__info p {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
}
.header .header-stroke .header__find {
  width: 12.375rem;
  display: flex;
  flex-direction: column;
  margin-left: 18rem;
  row-gap: 0.56rem;
}
.header .header-stroke .header__find .header__find-input {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header .header-stroke .header__find .header__find-input .header__find-input-value {
  width: 9.375rem;
  display: flex;
  padding: 0.1rem;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 0.63rem;
}
.header .header-stroke .header__find .header__find-input .header__find-input-submit {
  width: 2.5rem;
  display: flex;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 0.625rem;
}
.header .header-stroke .header__find .header__find-text p {
  margin-left: 1.69rem;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
}
.header .header-stroke .header__create {
  width: 10.375rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.56rem;
}
.header .header-stroke .header__create .create-button {
  width: 2.5rem;
  display: flex;
}
.header .header-stroke .header__create .create-button img {
  width: 100%;
}
.header .header-stroke .header__create .create-button p {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
}
.header .header-stroke .btn__set {
  display: flex;
  align-items: baseline;
}
.header .header-stroke .btn__set .btn__login-wrapper .btn__login {
  width: 90px;
  height: 40px;
  flex-shrink: 0;
  padding: 10px 7px;
  margin-top: 25px;
  border-radius: 10px;
  border: 2px solid #ffffff;
  background-color: #000;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}
.header .header-stroke .btn__set .btn__signup-wrapper {
  margin-right: 40px;
  display: flex;
  justify-content: center;
}
.header .header-stroke .btn__set .btn__signup-wrapper .btn__signup {
  width: 105px;
  height: 40px;
  flex-shrink: 0;
  padding: 10px 7px;
  margin-top: 25px;
  border-radius: 10px;
  border: 2px solid #ffffff;
  background-color: #000;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.signup__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  z-index: 0;
}

#signUp,
#signupOverlay {
  display: none;
}

.signup {
  position: absolute;
  z-index: 10;
  width: 500px;
  height: 500px;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.signup__form {
  padding: 25px 40px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 6px solid #fea501;
  box-shadow: 0px 0px 52px 25px #2c2c2c;
  display: flex;
  flex-direction: column;
}

.signup__h2 {
  padding: 0;
  margin: 0;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
}

.signup__inps {
  width: 420px;
  justify-content: center;
}
.signup__inps .signup__inp {
  width: 380px;
  padding: 10px 14px;
  margin: 10px 0;
  border-radius: 10px;
  border: 2px solid #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.signup__btn-wrap {
  display: flex;
  justify-content: center;
}

.signup__btn {
  width: 100px;
  padding: 10px;
  margin-top: 25px;
  border-radius: 10px;
  border: 2px solid #000;
  background-color: #fff;
  color: #000;
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.25);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
}

.signup__checkbox {
  padding-top: 15px;
}

/* скрываем реальный чекбокс */
.signup__checkbox-real {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.signup__checkbox-real:focus + .signup__checkbox-custom {
  cursor: pointer;
  box-shadow: 0px 0px 0px 2px #fea501;
}

/* стилизуем новый чекбокс */
.signup__checkbox-custom {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0 13px;
  display: inline-block;
  background-color: #fff;
  border: 2px solid #6f6f6f;
  border-radius: 5px;
  vertical-align: sub;
}

.signup__checkbox-custom::before {
  content: "";
  display: inline-block;
  background-image: url("../../assets/icons/check-wt.svg");
  background-position: center center;
  background-size: 14px;
  background-repeat: no-repeat;
  /* Выравниваем галочку по центру */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in;
}

/* Активируем декоративный чекбокс */
.signup__checkbox-real:checked + .signup__checkbox-custom::before {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  background-color: #fea501;
  transform: translate(-50%, -50%) scale(1);
}

.signup__checkbox-label {
  color: #6f6f6f;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.signup__checkbox-a {
  color: #6f6f6f;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-decoration-line: underline;
}

/* Кнопка закрытия */
.signup__btn-close {
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 35px;
  border: none;
  background: none;
  opacity: 0.4;
}

.signup__btn-close:hover {
  opacity: 1;
}

.signup__btn-close:before,
.signup__btn-close:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #000;
  border-radius: 10px;
}

.signup__btn-close:before {
  transform: rotate(45deg);
}

.signup__btn-close:after {
  transform: rotate(-45deg);
}

.login__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  z-index: 0;
}

#logIn,
#loginOverlay {
  display: none;
}

.login {
  position: absolute;
  z-index: 10;
  width: 500px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.login__form {
  padding: 25px 40px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 6px solid #fea501;
  box-shadow: 0px 0px 52px 25px #2c2c2c;
  display: flex;
  flex-direction: column;
}

.login__h2 {
  padding: 0;
  margin: 0;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
}

.login__inps {
  width: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login__inps .login__inp {
  width: 380px;
  padding: 10px 14px;
  margin: 15px 0;
  border-radius: 10px;
  border: 2px solid #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.login__btn-wrap {
  display: flex;
  justify-content: center;
}

.login__btn {
  width: 100px;
  padding: 10px;
  margin-top: 25px;
  border-radius: 10px;
  border: 2px solid #000000;
  background-color: #ffffff;
  color: #000;
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.25);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
}

/* Кнопка закрытия */
.login__btn-close {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 30px;
  border: none;
  background: none;
  opacity: 0.4;
}

.login__btn-close:hover {
  opacity: 1;
}

.login__btn-close:before,
.login__btn-close:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #000;
  border-radius: 10px;
}

.login__btn-close:before {
  transform: rotate(45deg);
}

.login__btn-close:after {
  transform: rotate(-45deg);
}/*# sourceMappingURL=style.css.map */