// Стили для карточек
.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 80%;

  .card {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 345px;
    height: 150px;
    border-radius: 15px;
    background-color:  $yel-clr;
  
  font-family: 'Montserrat';
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; 
  color: $blk-clr;
  
  transition: transform 0.25s;
  cursor: pointer;
  }
  
  .card:hover {
    transform: scale(1.1);
    background: linear-gradient(95.61deg, $yel-clr 0%, $orbr-clr 100%);
  }

}

.modal__card {

  display: none;
  position: fixed;
  z-index: 1;
  left: calc(50% - 175px);
  top: calc(50% - 175px);
  overflow: auto; 

  text-align: center;
  margin: auto;
  width: 350px;
  height: 350px;
  border-radius: 20px;
  background: $wt-clr;
  color: $blk-clr;

  box-shadow: 0px 0px 52px 25px #2C2C2C;


  &-titly {
    margin: 35px auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    line-height: 20px; 
    font-size: 32px;
    text-decoration-line: underline;
  }

  &-text {
    margin: 0 45px;
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px
  }

  &-close {
    float: right;
    border: none;
    margin: 10px;
    cursor: pointer;
    background: none;
  }
}

.demo {
  display: none;
  flex-direction: column;
  border: 5px solid red;
  background-color: green;
}

.none {
  display: none;
}

//классы для цветов карточек
.clr1 {
  background-color: $wt-clr;
}

.clr2 {
  background-color: $lite-clr;
}

.clr3 {
  background-color: $yel-clr;
}

.clr4 {
  background-color: $yelbr-clr;
}

.clr5 {
  background-color: $or-clr;
}

.clr6 {
  background-color: $orbr-clr;
}

.clr7 {
  background-color: $ltbr-clr;
}

.clr8 {
  background-color: $br-clr;
}
