.header {
    display: flex;
    margin: 2.5rem 4%;
    color: $wt-clr;

    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem;
    justify-content: space-between;

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h3 {
        font-size: 40px;
        font-weight: 700;
        line-height: 40px;
      }

      p {
        font-size: 24px;
        line-height: 3rem;
      }
    }

    &__find {
      width: 12.375rem;
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      row-gap: 0.56rem;

      &-input {
        width: 100%;
        display: flex;
        justify-content: space-between;

        &-value {
          width: 150px;
          height: 40px;
          padding: 0.1rem;
          background-color: transparent;
          border: 2px solid $wt-clr;
          border-radius: 0.63rem;
        }

        &-submit {
          width: 40px;
          color: $wt-clr;
          background-color: transparent;
          border: 2px solid $wt-clr;
          border-radius: 0.625rem;
        }
      }

      &-text {
          margin-left: 1.69rem;
      }
    }

    &__create {
      display: flex;
      margin-top: 1rem;
      flex-direction: column;
      align-items: center;
      row-gap: 0.56rem;
      text-align: center;

      .create-button {
        width: 2.5rem;

        img {
          width: 100%;
        }
      }

    }

    .btn__set {
      display: flex;
      margin-top: 1rem;
      align-items: baseline;

      .btn__login-wrapper {
        .btn__login {
          width: 90px;
          height: 40px;
          flex-shrink: 0;
          border-radius: 10px;
          border: 2px solid $wt-clr;
          background-color: $bg-clr;
          color: $wt-clr;
          text-transform: uppercase;
          text-align: center;
          align-items: center;
        }
      }

      .btn__signup-wrapper {
        margin-right: 40px;

        .btn__signup {
          width: 105px;
          height: 40px;
          flex-shrink: 0;
          border-radius: 10px;
          border: 2px solid $wt-clr;
          background-color: $bg-clr;
          color: $wt-clr;
          text-transform: uppercase;
          text-align: center;
          align-items: center;
        }
      }
    }
  }
