//затемнение фона
.login__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  z-index: 0;
  //   display: none;
}

#logIn,
#loginOverlay {
  display: none;
}

.login {
  position: absolute;
  z-index: 10;
  width: 500px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  //   display: none;

  &__form {
    padding: 25px 40px;
    background-color: $wt-clr;
    border-radius: 20px;
    border: 6px solid $yel-clr;
    box-shadow: 0px 0px 52px 25px $shad-clr;
    display: flex;
    flex-direction: column;
  }
}

.login__h2 {
  padding: 0;
  margin: 0;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
}

.login__inps {
  width: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .login__inp {
    width: 380px;
    padding: 10px 14px;
    margin: 15px 0;
    border-radius: 10px;
    border: 2px solid $blk-clr;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
}

.login__btn-wrap {
  display: flex;
  justify-content: center;
}

.login__btn {
  width: 100px;
  padding: 10px;
  margin-top: 25px;
  border-radius: 10px;
  border: 2px solid $blk-clr;
  background-color: $wt-clr;
  color: #000;
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.25);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
}

/* Кнопка закрытия */
.login__btn-close {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 30px;
  border: none;
  background: none;
  opacity: 0.4;
}

.login__btn-close:hover {
  opacity: 1;
}

.login__btn-close:before,
.login__btn-close:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #000;
  border-radius: 10px;
}

.login__btn-close:before {
  transform: rotate(45deg);
}

.login__btn-close:after {
  transform: rotate(-45deg);
}
