.modal-window {
    padding: 50px;
    position: relative;
    max-width: 400px;
    margin: 50px auto 0;
    background: white;
    border-radius: 30px;
    background: #fa9159ab;
    display: none;

}
.modal-window input, .modal-window textarea {
    display: block;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 10px;
    background: #f5faff;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
}
.modal-window input[type="submit"] {
    margin-top: 30px;
    background: #f69a73;
    border-bottom: 4px solid #d87d56;
    color: white;
    font-size: 14px;
}
.modal-window textarea {
    resize: none;
}
.modal-window h3 {
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #707981;
}

.modal__close {
	position: absolute;
	top: 30px;
	right: 20px;
	width: 24px;
	height: 24px;
	opacity: 0.2;
	cursor: pointer;;
    transition: opacity ease 0.5s;

	&:hover {
		opacity: 1;
	}
}
.modal__close::before,
.modal__close::after {
	content: '';
	position: absolute;
	top: 10px;
	display: block;
	width: 24px;
	height: 3px;
	background: #000;
}
.modal__close::before {
	transform: rotate(45deg);
}

.modal__close::after {
	transform: rotate(-45deg);
}