
*,
:after,
:before {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

body {
    font-family: 'Moniqa-LightParagraph';
    font-size: 24px;
    color: $white-color;
    background-color: $bg-color;
}