
*,
:after,
:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    // font-family: ;
    // font-size: ;
    color: $wt-clr;
    background-color: $bg-clr;
}

main {
    border-top: 1.5px solid $wt-clr;
    border-bottom: 1.5px solid $wt-clr;
}