//Переменные для шрифтов, например:
// @font-face {
//     src: url(/assets/fonts/имяФайлаСоШрифтом); // Путь к шрифту
//         font-family: 'как назовем??';
// }

@font-face {
  font-family: "HelveticaBold";
  src: url("/assets/fonts/HelveticaBold/HelveticaBold.woff") format("woff");
}

@font-face {
  font-family: "Helvetica";
  src: url("/assets/fonts/HelveticaMedium/HelveticaMedium.woff") format("woff");
}

@font-face {
  font-family: "Helvetica";
  src: url("/assets/fonts/HelveticaRegular/HelveticaRegular.woff")
    format("woff");
}
