
@font-face {
  font-family: "HelveticaBold";
  src: url("/assets/fonts/HelveticaBold/HelveticaBold.woff") format("woff");
}

@font-face {
  font-family: "HelveticaMedium";
  src: url("/assets/fonts/HelveticaMedium/HelveticaMedium.woff") format("woff");
}

@font-face {
  font-family: "HelveticaRegular";
  src: url("/assets/fonts/HelveticaRegular/HelveticaRegular.woff")
    format("woff");
}
